
# Box hostname and domain Magento 2 will be configured with
CONF_VM_HOSTNAME = 'm2demo.example.com'

# Digital Ocean Configuration
CONF_DO_TOKEN = '<digitalocean_token>'
CONF_DO_PK_PATH = '~/.ssh/id_rsa'
CONF_DO_PK_NAME = 'Vagrant'

# GitHub API Access
GITHUB_TOKEN = '<github_token>'

# Magento Access Info - Instructions for getting keys is here:
# http://devdocs.magento.com/guides/v2.0/install-gde/prereq/connect-auth.html#auth-get

MAGENTO_KEY_USER = '<public_key>'
MAGENTO_KEY_PASS = '<private_key>'
MAGENTO_IS_ENTERPRISE = false
